
.nextButton{
    -fx-background-color: #21273d;
}
.nextButton:hover {
    -fx-background-color: #43507c;
}


.cancelButton{
    -fx-background-color: #962c43;
}
.cancelButton:hover {
    -fx-background-color: #b93653;
}


.backButton{
    -fx-background-color: #21273d;
}
.backButton:hover {
    -fx-background-color: #131724;
}


.homebutton{
    -fx-background-color: #FFFFFF;
}
.homebutton:hover{
    -fx-background-color: #f3f3f3;
}

.checkoutbutton{
    -fx-background-color: #21273d;
}
.checkoutbutton:hover{
    -fx-background-color: #5868a3;
}

.mainviewbutton{
    -fx-background-color: #21273d;
}
.mainviewbutton:hover{
    -fx-background-color: #131724;
}






