#back{
    width: 20px;
    margin: 20px;
    float: left;
}

form{
    margin-left: 20px;
    margin-bottom: 20px;
}

label.bold{
    margin-bottom: 5px;
    font-weight: bold;
    display: block; /* add this */
    padding-top: 20px;
}

input:focus, textarea:focus{
    outline:0;
    border: 2px solid dodgerblue;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 14px;
    height: 13px;
    margin-bottom: 15px;
}

select{
    margin-bottom: 15px;
}

form input[type ="text"],
form input[type ="email"],
form select,
form textarea{
    width: 30%;
    padding: 10px;
    font-size: 14px;
}